// Mixins

@mixin resetul {
  list-style-type: none;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

@mixin resetli {
  padding: 0;
  margin: 0;

  &::before {
    content: normal;
    margin: 0;
    padding: 0;
  }
}

@mixin resetinput {
  margin: 0;
  border: none;
  padding: 0;
  box-shadow: none;
  outline: none;
  background: transparent;
  text-decoration: none;
}

@mixin reseta {
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
